.footer {
  background-color: #ffffff;
  background-image: url("/theme/assets/images/bg-footer.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 30px 0 10px;

  .social {
    a {
      margin-left: 32px;
      filter: invert(100%) url(#sgv-filter--cor1);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .copy {
    font-weight: $regular;
    font-size: 0.625rem;
    line-height: 1.75rem;
    color: $cor-txt-light;
    margin: 60px 0 0 85px;
  }
}

#svg-filter {
  opacity: 0;
  height: 0;
}
