.nav {
	@include animacao-slow;

	ul {
		display: table-cell;
		@include box-sizing; 

		li {
			display: table-cell;
			line-height: 30px;
			padding: 0px 5px;
			text-align: center;
			@include animacao;

			&.off-mobile {
				display: none;

				@include m980 {
					display: table-row;
				}
			}

			&:hover, &.ativo {
				> a {
					color: $cor2;

					i {
						color: $cor2;
					}
				}
			}

			@include m980 {
				display: table-row;
			}
		}

		@include m980 {
			display: table;
			height: 100%;
		}
	}

	a {
		font-size: 0.85rem;
		display: inline-block;
		line-height: 30px;
		color: #ffffff;
		font-weight: $regular;
		padding: 0px 5px;
		text-transform: uppercase;
		@include animacao();

		i {
			display: inline-block;
			color: #fff;
			position: relative;
		}

		@include m980 {
			position: relative;
			z-index: 999
		}
	}

	.submenu {
		i {
			color: #ffffff;
			font-size: 80%;
			display: inline-block;
			position: relative;
			top: -1px;
			z-index: 9999;
			cursor: pointer;

			@include m980 {
				position: absolute;
				margin-top: 11px;
				top: auto;
				right: 30px;
				font-size: 1.5rem;
			}
		}	

		.container-menu {
			padding-top: 5px;
			width: 100%;
			position: absolute;
			left: 0;
			z-index: 9999;
			display: none;
			opacity: 0;
			@include animacao;

			@include m980 {
				height: 0px;
				overflow: hidden;
				display: block;
				opacity: 0;
				position: relative;
				padding: 0px;
			}
		}

		&.ativo {
			i {
				color: $cor2;

				@include m980 {
				    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
				    -webkit-transform: rotate(180deg);
				    transform: rotate(180deg);
				}
			}

			@include m980 {
				position: relative;
				z-index: 0;

				&:before {
					content: '';
					//background-color: rgba(#ffffff, .2);
					position: absolute;
					z-index: 0;
					left: 0;
					width: 100%;
					height: 100%;
					box-sizing: unset;
					top: 0px;
				}

				.container-menu {
					height: auto;
					opacity: 1;
					overflow: none;
				}
			}
		}

		&:hover {
			.container-menu {
				opacity: 1;
				display: block;
			}

			i {
				color: $cor2;
			    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
			    -webkit-transform: rotate(180deg);
			    transform: rotate(180deg);
			}
		}

		.bg-submenu {
			width: 100%;
			background-color: $cor1;
			padding: 40px;
			text-align: left;
			overflow: hidden;

			@include m980 {
				padding: 0;
				background: transparent;
			}
		}

		.col-menu {
			float: left;
			@include box-sizing;
		}

		.col-principal {
			min-height: 100px;
			width: 35%;
			border-right: 2px solid #ffffff;
			padding-right: 10px;

			@include m980 {
				display: none;
			}
		}

		.col-links {
			width: 65%;
			padding-left: 10px;

			a {
				font-size: 1.125rem;
				line-height: 1.125rem;
				font-weight: $light;

				@include m980 {
					padding: 0;
				}
			}

			@include m980 {
				width: 100%;
				padding: 0;
			}
		}

		.tit-menu {
			display: block;
			width: 100%;
			color: #ffffff;
			font-size: 2rem;
			line-height: 1.5625rem;
			font-weight: $bold;
			margin-bottom: 20px;

			@include m980 {
				display: none;
			}
		}
	}

	&.nav-principal {
		width: 100%;
		height: 30px;
		background-color: $cor1;

		ul {
			width: 100%;
			display: table;

			@include m980 {
				max-height: 50vh;
			}

			@include m420 {
				max-height: 75vh;
			}

			@include m380 {
				max-height: none;
			}
		}

		.submenu { 
			ul {
				display: flex;
				flex-direction: column;

				li {
					display: block;
					text-align: left;
				}
			}
		}

		@include m980 {
			//display: none;
			height: 100vh;
			border-top: 80px solid #ffffff;
			z-index: 9999;
			position: fixed;
			top: -110vh;
			left: 0;
			//opacity: 0;

			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;

			&.open {
				top: 0;
				opacity: 1;
			}
			
			.container {
				display: table;
				height: 100%;
			}

			ul {
				padding: 25px 0;

				ul {
					padding: 0;
				}
			}

			li {
				text-align: left;
				line-height: 40px;

				a {
					line-height: 40px;
					font-size: 1.25rem;
				}
			}

			a {
				display: inline-block;
				margin: 0 25px;
			}

			.submenu {
				position: relative;
				> a {
					&:after {
						margin-left: 0px;
						font-size: 120%;
					}
				}
			}
		}
	}

	&.nav-topo {
		float: right;

		ul {
			display: table-cell;
			max-width: 660px;

			@include m980 {
				&:not(.idiomas){
					display: none;
				}
			} 
		}

		li {
			border-left: 2px solid $cor1;
			padding: 0 15px;

			&:hover, &.ativo {
				> a {
					color: $cor2;

					i {
						color: $cor2;
					}
				}
			}

			a {
				font-size: 0.75rem;
				padding: 0px;
				color: $cor1;

				i {
					color: $cor1;
				}
			}

			&.rede-social {
				border: none;
				padding: 0px;

				a {
					padding: 0px 10px 0;

					i {
						font-size: 1rem;
					}
				}

				&.last-rede-social {
					padding-right: 10px;
				}
			}
		}

		ul.idiomas {
			top: -2px; 
			position: relative;

			li {
				display: block;
				border: none;
				line-height: 15px;
				padding: 0;
				margin-left: 10px;

				&:hover, &.ativo {
					> a span {
						color: $cor2;
					}
				}
			}

			a {
				color: $cor-txt;
				line-height: 0;
				padding: 0px;
				display: block;
			}

			img, span {
				//padding-top: 5px;
			}

			img {
				padding-right: 3px;
				vertical-align: middle;

				@include m980 {
					position: relative;
					top: -1px;
				}
			}

			span {
				font-weight: $regular;
				vertical-align: middle;
				position: relative;
				top: 1px;
			}
		}
	}

	&.nav-footer {
		margin-top: 10px;

		&.rede-social {
			//margin-top: 60px;
		}

		li {
			display: block;
			text-align: left;
			margin: 15px 0 0;
			padding: 0;
			line-height: normal;

			a {
				padding: 0;
				font-size: $font-size;
				line-height: $font-size+.25;
				font-weight: $regular;
				text-transform: none;

				i {
					width: 30px;
					color: $verde-limao;
					padding-right: 5px;
					text-align: center;
					font-size: 1.225rem;
					position: relative;
					top: 3px;
				}

				&:hover, &.ativo {
					color: $verde-limao;
				}
			}
		}
	}
}


// NAV FOOTER



// MENU MOBILE
.menu-mobile {
	display: none;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	@include clear;

	@include m980 {
		display: inline-block;
		margin-top: 15px;
	}
}


#nav-icon2 {
  width: 35px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: $cor1;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: -1px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 11.5px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 24px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 6px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 6px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 19px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 19px; 
}


// SUBMENU
/*.submenu {
	position: relative;
	z-index: 10;

	> a {
		margin-bottom: 10px;

		i {
			font-size: .55rem;
			top: -2px;
			padding-left: 3px;
		}
	}

	> ul {
		position: absolute;
		padding: 15px 0px;
		background: #fff;
		border-radius: 5px;
		min-width: 200px;
		display: none;
		z-index: 100;

		li {
			display: block;
			padding: 0;

			&:hover {
				a {
					opacity: 1;
				}
			}
		}

		a {
			display: block;
			color: $cor-txt;
			text-transform: none;
			font-weight: $regular;
			padding: 5px 5px 5px 20px;
			border-left: 5px solid #ffffff;

			&:hover {
				border-color: $azul;
				color: $azul;
			}
		}
	}

	&:hover {
		> ul {
			display: block;
		}
	}
}*/