$hSlide: 740px;

.owl-carousel {
  position: relative;
}

.owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-stage {
  touch-action: manipulation;
}

.owl-item {
  float: left;
  user-select: none;
  touch-action: pan-y;
}

.slide {
  width: 100%;

  .owl-item {
    //height: calc(100vh - 70px);
    //max-height: $hSlide;
    //min-height: 400px;
    height: $hSlide;

    .item {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 72px 0;
      box-sizing: border-box;

      .container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      h3,
      p {
        color: $cor-txt;
        width: 100%;
        max-width: 490px;
      }

      p {
        margin: 30px 0;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: $regular;
      }

      .content-button {
        margin-top: auto;
      }

      .button {
        margin-top: 0px;
      }
    }
  }
}

.owl-dots {
  position: absolute;
  bottom: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    display: none;
  }

  .owl-dot {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 16px;
    cursor: pointer;
    @include animacao;

    &.active {
      background-color: #000000;
    }
  }
}

.owl-nav {
  position: absolute;
  right: 0px;
  top: -50px;
  height: 34px;

  &.disabled {
    display: none;
  }

  .owl-prev,
  .owl-next {
    width: 34px;
    height: 34px;
    background: none;
    cursor: pointer;
    @include animacao;

    &.disabled {
      opacity: 0;
    }

    &:hover:not(.disabled) {
      opacity: 0.5;
    }
  }

  .owl-prev {
    margin-right: 10px;
  }

  svg {
    path {
      @include animacao;
    }
  }
}

.bg--cor1 {
  .owl-nav {
    svg {
      path {
        stroke: #fff;
      }
    }
  }
}
