.list-category {
	display: block;
	margin: 40px 0;
	text-align: center;

	li {
		padding: 0 50px;
		display: inline-block;

		&:first-child {
			padding-left: 0px;
		}

		&:last-child {
			padding-right: 0px;
		}

		a {
			padding: 5px;
			display: table;

			img, span {
				display: block;
			}

			img {
				width: 88px;
				margin-bottom: 20px;
			}

			span {
				font-size: 1.125rem;
			}
		}

		&.off {
			a {
				//@include grayscale(100%);
				opacity: .2;
				transition: all 200ms ease-in-out;

				&:hover {
					opacity: 1;
					//@include grayscale(0);
				}
			}
		}
	}

	&.sala-prensa {
		li {
			a {
				img {
					width: 26px;
				}
			}
		}

	}
}



.servicios {

	&.list-servicios {
		.container {
			max-width: 900px;
		}
	}
	
	.item-servicios {
		padding: 0 20px;

		h4 {
			display: block;
			font-size: 1.25rem;
			line-height: 1.65rem;
			margin-top: 15px;
			padding-bottom: 15px;
			font-weight: $bold
		}
	}

	&.det-servicios {
		.img-topo {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}
}