.associado {

	.list-associado {
		height: 400px;
		padding: 30px;
		margin-bottom: 30px;
		@include box-sizing;

		&:before {
			background-image: url('../images/mask-prof-destaque.png');
			bottom: -2px;
			background-size: contain;
		}

		h2 {
			font-size: 1.25rem;
		}

		.label {
			margin-top: 10px;
		}
	}

	&.detalhe {
		.label {
			margin: 10px 0;
		}

		h3 {
			margin: 20px 0 10px;
		}

		.info-contato {
			padding: 20px;
			display: block;

			li {
				display: block;
				padding: 5px;
				font-weight: $light;

				i {
					width: 20px;
					text-align: center;
				}
			}
		}

		.login-on {
			border-bottom: 1px solid #f2f2f2;
			display: table;
			width: 100%;
			padding-bottom: 10px;

			.label {
				font-size: .5rem;
			}

			h2 {
				font-size: 1.25rem;
				line-height: 1.5rem;
			}

			.cont-login-on {
				display: table-cell;
				vertical-align: middle;

				&.image {
					width: 200px;
					padding-right: 20px;
				}

				&:last-child {
					width: 245px;
				}

				form {
					textarea {
						height: 61px;
					}
				}
			}
		}
	}
}