.ico-redes {
	padding: 20px 0;
	text-align: center;

	li {
		padding: 0 50px;
		display: inline-block;

		@include m980 {
			padding: 0 25px;
		}

		i {
			font-size: 3.5rem;

			@include m980 {
				//font-size: 2rem;
			}
		}

		a {
			&:hover {
				i {
					color: $cor1;
				}
			}
		}
	}
}

.contacto {
	.slide {
		h2 {
			text-transform: none;
			font-weight: $bold;
			line-height: 2.25rem;
		}
	}
}

@include m980 {
	.txt-contato {
		text-align: left;
	}
}