.funcionamiento {
	margin-bottom: 100px;

	@include m980 {
		margin-bottom: 0px;
	}
	
	.owl-item {
		.conteudo-texto {
			&.cont-left {
				padding-right: 20px;
				h3 {
					font-weight: $bold;
					margin-bottom: 30px;
				}

				@include m980 {
					padding-right: 0px;

					p {
						padding-right: 50px;
						padding-left: 50px;
					}
				}
			}

			&.cont-right {
				//padding-left: 20px;
			}
		}
	}

	&.owl-carousel {
		.owl-nav {
			top: 400px;
			background-color: #ffffff;
			margin-left: -35px;

			button {				
				i {
					font-size: 1.5rem;
					color: $cor-txt;
				}

				&:hover {
					i {
						color: $cor1;
					}
				}

				&.disabled {
					opacity: 0; 
				}
			}
		}
	}

	&.funcionamiento-navegacao {
		&.owl-carousel {
			.owl-nav {
				right: -63px;
				left: auto;
				top: 325px;
			}
		}
	}
}

.term-transporte-crudo-pesado {
	overflow-x: hidden;

	.funcionamiento {
		margin-top: 40px;
	}
}

.time-line {
	padding-bottom: 150px;

	@include m980 {
		padding-bottom: 50px;		
	}

	.cd-h-timeline__line {
		//width: 100%!important;
	}

	.cd-h-timeline__events {
		overflow: visible;

		h2 {
			margin: 0 auto 10px;

			@include m980 {
				text-align: center;
				margin-bottom: 0px;

				span {
					font-size: 1.75rem;
					line-height: 2.75rem;
				}
			}
		}

		p.sub-tituto {
			margin-bottom: 30px;

			@include m980 {
				text-align: center;
			}
		}

		.cd-h-timeline__event {
			padding: 0 20px;

			@include m980 {
				padding: 0px;
			}
		}

		.link-mais {

		}

		h4 {
			font-size: 1.5rem;
			line-height: 2rem;

			@include m980 {
				margin: 30px 50px 0;
			}

			@include m420 {
				margin-right: 0px;
				margin-left: 0px;
				text-align: left;
			}
		}

		.link-nav {
			position: relative;
			top: -300px;

			.next-timeline {
				right: 75px;
			}

			.prev-timeline {
				left: 75px;
			}
		}
	}
}

.img-funcionamiento {
	@include m980 {
		display: none;
	}
}


.cd-h-timeline__dates {
	overflow: visible;

	&:before {
		display: none;
	}
}

.cd-h-timeline__container {
	height: 60px;
	margin-top: 30px;
	margin-bottom: 150px;
	padding: 0;

	@include m980 {
		display: none;
	}
}

.cd-h-timeline__line {
	top: 0;

	&:after, &:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 15px;
		background-color: #ffffff;
		z-index: 99999;
	}

	&:before {
		top: -15px;
	}

	&:after {
		top: 60px;
	}
}

.cd-h-timeline__filling-line {
	display: none;
}

.cd-h-timeline__line {
	width: 100%!important;
	background: none;

	ol {
		width: 100%;
		display: table;
		//height: 5px;
		//background: red;

		li {
			display: table-cell;
			text-align: center;
			position: relative;
			width: auto;
			height: 60px;
			top: 0px;
			left: 0!important;
			
			overflow: visible;

			&:after, &:before {
				/*width: 50%;
				top: 0;*/
				content: '';
				position: absolute;
				/*background: #f7f7f7;
				height: 4px;
				border: none;
				border-radius: 0;
				transform: none;*/
				@include animacao; 

				border: none;
				border-radius: 0;
				height: 60px;
				width: 20px;
				//background-color: #b9d9c8;
				background-color: #dfdfdf;
				z-index: 999;
				margin-left: -11px;
				cursor: pointer;
			}

			&:hover {
				&:after, &:before {
					background: #dfdfdf;
				}
			}

			&.cd-h-timeline__date--selected {
				&:after, &:before {
					background: $cor1;
				}

				.legenda {
					div {
						font-weight: $bold;
					}
				}
			}

			&.cd-h-timeline__date--older-event {
				/*&:after, &:before {
					background: #dfdfdf;
				}*/
			}

			&:before {
				top: -15px;
				transform: rotate(45deg);
			}

			&:after {
				bottom: -15px;
				transform: rotate(135deg);
			}

			/*&:before {
				width: 0%;
				left: -50%;
				margin-left: 9px;
				background-color: $cor1;
				height: 2px;
				z-index: 99;
			}

			&:after {
				left: 50%;
				bottom: auto;
				top: -9px;
				margin-left: -10px;
				width: 20px;
				height: 20px;
				border: 1px solid #dfdfdf;
				background-color: #f7f7f7;
				transform: translateX(0%);
				z-index: 999;
			}*/

			.legenda {
				position: absolute;
				top: 80px;
				width: 100%;
				text-align: center;

				div {
					display: block;
					width: 100%;

					div {
						line-height: 1.125rem;
						font-size: .85rem;
					}

					&.titulo{
						font-size: 1.25rem;
						font-weight: $bold;
						height: 25px;
					}
				}
			}

			span {
				display: block;
				position: relative;
				z-index: 0;

				&:after, &:before {
					position: absolute;
					width: 50%;
					content: '';
					background: #f7f7f7;
					height: 60px;
				}

				&:before {
					left: 0;
				}

				&:after {
					right: 0;
				}
			}

			&:first-child {
				/*&:before {
					display: none;
				}*/

				span {
					&:before {
						display: none;
					}
				}
			}

			&:last-child {
				span {
					&:after {
						display: none;
					}
				}
			}

			&.cd-h-timeline__date--selected {
				/*&:before {
					width: 100%;
				}
				&:after {
					border-color: $cor1;
					background-color: $cor1;
				}*/
			}

			&.cd-h-timeline__date--older-event{
				/*&:before {
					width: 100%;
				}
				&:after {
					border-color: $cor1;
				}*/
			}


			/*button {
				display: inline-block;
				padding: 0;
				top: -13px;
				position: relative;
				z-index: 99;
				//position: relative;
				//left: 0px!important;
				//top: -14px!important;

				width: 20px;
				height: 20px;
				border: 1px solid #dfdfdf;
				background-color: #f7f7f7;

				&:after, &:before {
					display: none;
				}

				&::parent {
					background: red; 
				}
			}*/
		}		
	}
}


.det-slide-funcionamiento {
	.row {
		margin: 0;
	}

	.row:not(.no-padding) .col-6 {
		padding-left: 0px;
	}

	.col-6 {
		.conteudo-texto {
			h3 {
				//color: $cor-txt;
				@include m980 {
					text-align: left;

					font-size: 2rem;
					padding: 0 50px;
					margin-top: 60px;
				}
			}
		}

		&.bg-img-slide {
			background-color: #f4f3f3;
			padding: 0;
		}
	}

	&.owl-carousel {
		.owl-nav {
			@include m980 {
				top: 330px;
				left: auto;
				right: 0px;
			}
		}
	}
}


.tax-categoria_funcionamiento {

	@include m980 {
		.link-nav {
			top: 50%!important;
			position: fixed !important;
			margin-top: -17.5px;

			a {
				width: 45px;
				height: 45px;
				line-height: 45px;

				i {
					top: 5px;
				}
			}

			.prev-timeline {
				left: 5px!important;
			}

			.next-timeline {
				right: 5px!important;
			}
		}

		.row {
			&:not(.no-padding){
				margin: 0;
			}

			&.row-flex {
				display: flex;
				flex-direction: row-reverse;
			}

			.col-6 {
				flex: 100%;
				width: 100%;
				//max-width: 600px;
				max-width: 100%;
				padding: 0;
				float: none;
				display: block;
				margin: 0 auto;

				&.txt-slide {
					order: 2;

					.owl-nav {
						top: 430px;
					}

					.funcionamiento {
						display: block;
					}

					.owl-item {
						margin-bottom: 15px;
					}

					.conteudo-texto {
						margin-bottom: 15px;
					}
				}

				&.img-slide {
					order: 1;
					margin-bottom: 40px;

					.owl-item {
						//width: 100%;
					}
				}
			}
		}
	}
}

.row-flex {
	@include m980 {
		display: block!important;
	}
}

.if-mobile-true {
	display: none!important;

	@include m980 {
		display: block!important;
	}
}

.if-mobile-false {
	display: block!important;

	@include m980 {
		display: none!important;
	}
}