.home {

	.box-slide {
		.slide {
			.arrow-slide {
				position: absolute;
				bottom: 8px;
				left: 50%;
				z-index: 999;
				transform: translatex(-50%);
				display: flex;

				@include m420 {
					display: none;
				}

				
				.carousel-control-next, .carousel-control-prev {
					display: flex;
					position: relative;
					top: 0;
					width: 30px;
					opacity: 1;
					padding: 0 5px;
					margin: 0px;
					background-color: transparent;
				}

				.carousel-control-next {
					margin-left: auto;
				}
			}
		}
	}
	
	@include m980 {
		.mobile-prensa {
			width: 47.5%;

			&:nth-child(1) {
				margin-right: 5%;
			}

			&:nth-child(3), &:nth-child(4){
				display: none;
			}
		}

		.link.all-post:not(.position-top) {
			float: none;
			margin: 40px 0 0;
		}

		.owl-theme .owl-nav.disabled + .owl-dots {
			margin-top:  0;
		}

		.link.all-post.position-top {

		}
	}

	@include m420 {
		.prensa {
			&.prensa-list {
				.item-list-prensa {
					padding-right: 50px;
					padding-left: 50px;
					
					&.video {
						.categoria-prensa {
							font-size: 1.25rem;
						}
					}
				}
			}
		}

		.mobile-prensa {
			width: 100%;

			&:nth-child(1) {
				margin-right: 0;
			}

			&:nth-child(3), &:nth-child(4){
				display: block;
			}
		}
	}

	@include m380 {
		.prensa {
			&.prensa-list {
				.item-list-prensa {
					padding-right: 30px;
					padding-left: 30px;
				}
			}
		}
	}

	.owl-carousel .owl-nav {
		top: -35px;

		button i {
			margin: 0;
		}
	}
}