.icon-page {
	width: 100%;
	//padding: 0 35px;
	margin: 50px 0 0;
	display: table;
	@include box-sizing;

	li {
		display: table-cell;
		text-align: center;
		padding: 0 30px;
		@include box-sizing;

		img {
			width: auto;
			display: inline-block;
			max-width: 100%;
			margin: 0 auto 0px;
		}

		.titulo {
			font-size: 1.625rem;
			line-height: 1.625rem;
			font-weight: $bold;
			width: 100%;
			display: block;
			margin: 40px 0 15px;

			.num {
				font-size: 2.75rem;
				line-height: 2.75rem;
				font-weight: $regular;
			}
		}

		p {
			text-align: left;

			&.destaque {
				text-transform: uppercase;
				padding: 0 20px;
			}
		}

		&.info-dados {
			img {
				margin: 0;
			}

			.titulo {
				border: none;
				padding-bottom: 0px;
				margin-bottom: 0px;
				font-weight: $light;
				display: block;

				.num {
					display: block;
					margin: 15px 0;
				}
			}
		}
	}

	&.count-item-5 {
		li {
			width: 20%;
		}
	}

	&.count-item-4 {
		li {
			width: 25%;
		}
	}

	&.itens-style-2 {
		padding: 0 80px;

		li {
			padding: 0 50px;

			.vertical-center {
				height: 50px;
				overflow: hidden;
				margin: 40px 0 15px;
			}
			.titulo {
				margin: 0;
				font-size: 1.125rem;
				line-height: 1.5rem;
				padding: 0;
			}
		}
	}

	a {
		&:hover {
			.titulo {
				color: $cor1;
			}
		}
	}
}

.container-mini {
	max-width: 650px;
	margin: 0 auto;
	display: block;

	.icon-page {
		margin-top: 30px;
		
		li {
			padding: 0 20px;

			.titulo {
				font-weight: $light;
				font-size: .850rem;
				margin: 0;
				line-height: 1rem;
			}
		}
	}
}

.list-cont {
	margin-top: 20px;

	li {
		margin-bottom: 20px;
		font-size: 1rem;
		line-height: 1.25rem;
		font-weight: $regular;

		a {
			font-size: 1rem;
			line-height: 1.25rem;
			color: $cor3;
			font-weight: $regular;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.link-mais {
	a, i {
		font-size: 1rem;
		line-height: 1rem;
	}

	.cor1 {
		&:hover, &:hover i {
			color: $cor2;
		}
	}

	.cor3 {
		&:hover, &:hover i {
			color: $cor1;
		}
	}

	i {
		margin-right: 5px;
	}

	.link-bloco {
		border: 2px solid $cor3;
		line-height: 39px;
		border-radius: 20px;
		padding: 0 15px;
		font-weight: $extra-bold;
		color: $cor3;

		&.cor1 {
			border-color: $cor1;
			color: $cor1;
		}
	}

	a.link-bloco {
		&:hover {
			background-color: $cor3;
			color: #ffffff;
		}

		&.cor1 {
			&:hover {
				background-color: $cor1;
			}
		}
	}

	h4.link-bloco {
		font-size: 1.25rem;
		line-height: 1.5625rem;
		color: $cor1;
		border-color: $cor1;
		padding: 5px 15px;
		display: inline-block;
	}
}

.block-center {
	width: 100%;
	//max-width: 650px;
	display: table;
	margin: 20px auto 0;

	.item-block {
		display: table-cell;
		padding: 40px;
		@include box-sizing;
	}

	.item-margin {
		width: 90px;

		&.item-count-3 {
			width: 40px;
		} 
	}

	.titulo {
		font-size: 1.25rem;
		line-height: 1.5rem;
		font-weight: $bold;
		color: $cor-txt;
		max-width: 260px;
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.link-mais {
		a {
			max-width: 260px;
			display: block;
			width: 100%;
			margin: 0 auto;
			line-height: 1rem;
		}

		i {
			font-size: 1.125rem;
			margin: 20px 0;
			display: block;

			&.fa-arrow-circle-down {
				font-size: 1.5rem; 
			}
		}
	}

	&.block-inline {
		.item-block {
			//width: 30%;
			padding: 0px;
		}

		.item-margin {
			width: 30px;
		}

		.titulo {
			font-size: 0.875rem;
			line-height: 1rem;
			display: block;
		}

		.link-mais {
			i {
				display: inline-block;
			}
		}
	}

	&.block-foto {
		padding-top: 50px;

		.cont-block {
			padding: 15px 25px 50px;
		}

		.nome {
			font-size: 1.25rem;
			line-height: 1.25rem;
			display: block;
		}

		.titulo {
			font-size: 1.5rem;
			margin: 0px;
			width: auto;
			display: inline-block;
		}

		.link-mais {
			a {
				margin: 20px 0 0;
				max-width: none;

				i {
					float: right;
					margin: 5px 0 0;
					font-size: 2.5rem;
				}

				&:hover {
					.titulo {
						color: $cor1;
					}
				}
			}
		}
	}
}


.iframe-video {
	width: 100%;
	
	img {
		width: 100%;
	}
}

.operacion-segura {
	padding: 0;
	display: block;

	img {
		display: block;
		width: auto;
	}

	h4 {
		display: block;
		font-size: 1.25rem;
		line-height: 1.65rem;
		margin-top: 15px;
		padding-bottom: 15px;
	}

	&.bg-escuro {
		color: #ffffff;
	}
}

