.prensa {
	h3 {
		margin-bottom: 25px;
		padding-left: 50px;
	}

	.all-post {
		margin-right: 50px;
	}

	&.prensa-list {
		.capa {
			display: block;
			width: 100%;
		}

		.titulo-prensa {
			display: block;
			font-size: 1.25rem;
			line-height: 1.5rem;
			margin-top: 15px;
			font-weight: $regular;
			height: 99px;
			margin-bottom: 15px;
			overflow: hidden;
		}

		.data-prensa {
			display: block;
			padding: 0px;
			line-height: 20px;
			color: $cor3;
			margin-top: 15px;
			font-size: 1rem;
		}

		.categoria-prensa {
			display: block;
			color: $cor3;
			text-transform: uppercase;
			font-size: .75rem;

			i {
				color: $cor3;
				font-size: .4rem;
				position: relative;
				top: -2.5px;
				padding-right: 5px;
			}
		}
	}

	.item-list-prensa {
		margin-top: 20px;
		
		&.video {
			.capa {
				position: relative;
				text-align: center;

				&:before {
					content: url('../images/ico-play.png');
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -30.5px 0 0 -31px;
				}
			}
		}
		.content-list-prensa {
			padding: 20px;
		}

		.titulo-prensa {
			font-size: 1.5rem;
			line-height: 1.75rem;

			height: auto;
		}
	}

	&.det-prensa {
		h2 {
			max-width: 800px;
			margin: auto;
		}
	}
}


.owl-carousel {
	button {
		height: auto;
		line-height: normal!important;
		background-color: transparent!important;
	}

	.owl-nav {
		position: absolute;
		top: -38px;
		left: 50%;
		margin: 0;
		transform: translate(-50%, -50%);

		button {
			i {
				font-size: 1.125rem;
				color: $cor1;
			}
		}
	}

	.owl-dots {
		position: absolute;
		top: -37px;
		left: 50%;
		transform: translate(-50%, -50%);

		.owl-dot {
			span{
				width: 12px;
				height: 12px;
				margin: 0 5px;
				border: 1px solid rgba($cor-txt, .25);
				background-color: transparent;
			}

			&.active, &:hover {
				span {
					background-color: rgba($cor-txt, .25);
				}
			}
		}
	}
}