.ico-txt {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  column-gap: 60px;
  row-gap: 30px;

  img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    object-position: center;
  }

  span {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3125rem;
  }
}

.card--icon-text {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  column-gap: 13px;

  &.margin {
    margin: 30px 0;
  }

  a {
    display: flex;
    height: 100%;
    background-color: #efefef;
    border-radius: 10px;
    padding: 47px 20px 27px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;

    &:hover {
      background-color: #ffffff;
    }
  }

  img {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: contain;
    object-position: center;
  }

  h3 {
    display: block;
    font-weight: $semi-bold;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-top: 26px;
    color: $cor-txt;
    text-align: center;
    height: 100%;
  }
}
