@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, hr, del, dfn, font, ins, kbd, q, s, samp, small, strike, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, select, input, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

em {
  text-decoration: italic;
}

* {
  padding: 0;
  margin: 0;
}

/* CORES */
html {
  font-size: 100%;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  background: #ffffff;
}
@media all and (max-width: 980px) {
  body {
    padding-top: 130px;
    padding-top: 80px;
  }
}

body * {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.container {
  max-width: 1060px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}
.container:before, .container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
@media all and (max-width: 980px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
  }
}

.row {
  display: block;
  clear: both;
}
.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row:not(.no-padding) {
  margin-right: -30px;
  margin-left: -30px;
}
.row:not(.no-padding) [class*=col-] {
  padding-right: 30px;
  padding-left: 30px;
}
.row.no-padding {
  margin: 0;
}
.row [class*=col-] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row [class*=col-] img {
  max-width: 100%;
}
.row .col-1 {
  width: 8.3333333333%;
}
.row .col-2 {
  width: 16.6666666667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333333333%;
}
.row .col-5 {
  width: 41.6666666667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.3333333333%;
}
.row .col-8 {
  width: 66.6666666667%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.3333333333%;
}
.row .col-11 {
  width: 91.6666666667%;
}
.row .col-12 {
  width: 100%;
}
.row .col-m-1 {
  margin-left: 8.3333333333%;
}
.row .col-m-2 {
  margin-left: 16.6666666667%;
}
.row .col-m-3 {
  margin-left: 25%;
}
.row .col-m-4 {
  margin-left: 33.3333333333%;
}
.row .col-m-5 {
  margin-left: 41.6666666667%;
}
.row .col-m-6 {
  margin-left: 50%;
}
.row .col-m-7 {
  margin-left: 58.3333333333%;
}
.row .col-m-8 {
  margin-left: 66.6666666667%;
}
.row .col-m-9 {
  margin-left: 75%;
}
.row .col-m-10 {
  margin-left: 83.3333333333%;
}
.row .col-m-11 {
  margin-left: 91.6666666667%;
}
.row .col-m-12 {
  margin-left: 100%;
}
.row .col-4:nth-child(3n+1) {
  clear: both;
}
.row .col-4:nth-child(3n+1):before, .row .col-4:nth-child(3n+1):after {
  display: table;
  content: "";
}
.row .col-4:nth-child(3n+1):after {
  clear: both;
}
.row.row-mini {
  margin-right: -15px;
  margin-left: -15px;
}
.row.row-mini [class*=col-] {
  padding-right: 15px;
  padding-left: 15px;
}
@media all and (max-width: 980px) {
  .row:not(.no-padding) {
    margin: 0;
  }
  .row:not(.no-padding) [class*=col-] {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.box-content {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 60px 0;
}
.box-content:before, .box-content:after {
  display: table;
  content: "";
}
.box-content:after {
  clear: both;
}
.box-content.box-slide {
  position: relative;
  z-index: 0;
  padding: 0;
}
.box-content .content {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box-content .content ul,
.box-content .content ol {
  margin-top: 20px;
  padding-left: 20px;
}
.box-content .content ul li,
.box-content .content ol li {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  padding-left: 10px;
}
.box-content .content ul li {
  list-style: disc;
}
.box-content.first-section {
  padding-top: 0px;
}
@media all and (max-width: 980px) {
  .box-content.hide-mobile {
    display: none;
  }
}

.vertical-center {
  display: table;
  height: 100%;
  width: 100%;
}
.vertical-center .content-vertical {
  display: table-cell;
  vertical-align: middle;
}

.conteudo-texto.mini {
  max-width: 650px;
  margin: 0 auto;
}
.conteudo-texto ul,
.conteudo-texto ol {
  display: block;
  padding: 15px 30px 25px;
}
.conteudo-texto ul li,
.conteudo-texto ol li {
  display: block;
  padding-bottom: 5px;
}
.conteudo-texto ul li:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  font-weight: bold;
  border-radius: 50%;
  background-color: #4a4a4a;
  width: 7px;
  height: 7px;
  position: relative;
  top: -1px;
}
.conteudo-texto ul.acordion {
  padding: 0;
}
@media all and (max-width: 980px) {
  .conteudo-texto ul.acordion {
    padding-right: 40px;
    padding-left: 40px;
    text-align: left !important;
  }
}
.conteudo-texto ul.acordion li {
  padding-bottom: 50px;
  list-style: none;
  font-weight: 700;
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
}
.conteudo-texto ul.acordion li:before {
  display: none;
}
.conteudo-texto ul.acordion li:last-child {
  padding: 0;
}
.conteudo-texto ul.acordion li i {
  position: absolute;
  top: 2px;
  right: -20px;
  font-size: 20px;
  cursor: pointer;
}
.conteudo-texto ul.acordion li a {
  color: #ed1824;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
.conteudo-texto ul.acordion li .cont-acordion {
  padding: 10px 20px 0 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  display: none;
}
.conteudo-texto ol {
  padding-left: 46px;
}
.conteudo-texto ol li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: decimal;
}
.conteudo-texto ol li::marker {
  font-weight: 700;
}
.conteudo-texto p {
  padding-bottom: 15px;
}
.conteudo-texto p:last-child {
  padding-bottom: 0;
}
@media all and (max-width: 980px) {
  .conteudo-texto p {
    padding-right: 40px;
    padding-left: 40px;
    text-align: left !important;
  }
}
.conteudo-texto img,
.conteudo-texto figure {
  max-width: 100%;
  height: auto;
  width: auto;
}
.conteudo-texto img.size-full,
.conteudo-texto figure.size-full {
  margin-left: -10%;
  width: 120%;
  max-width: none;
}
@media all and (max-width: 980px) {
  .conteudo-texto img.size-full,
.conteudo-texto figure.size-full {
    margin-left: -12%;
    width: 124%;
  }
}
.conteudo-texto img.size-full img,
.conteudo-texto figure.size-full img {
  width: 100%;
  height: auto;
}
.conteudo-texto img.aligncenter:not(.size-full),
.conteudo-texto figure.aligncenter:not(.size-full) {
  margin: 0 auto;
  display: block;
}
.conteudo-texto.img-area-gestion {
  padding: 0 100px;
  text-align: center;
}
@media all and (max-width: 980px) {
  .conteudo-texto.img-area-gestion {
    padding: 0;
  }
}
.conteudo-texto.full img {
  width: 100%;
}
.conteudo-texto.normal img {
  width: auto;
}
@media all and (max-width: 980px) {
  .conteudo-texto.normal {
    padding: 0 50px;
  }
}
.conteudo-texto .item-list-prensa.video {
  margin-top: 0;
}
@media all and (max-width: 980px) {
  .conteudo-texto .link-mais {
    padding: 0 50px;
  }
}

.flex {
  display: flex;
}
@media all and (max-width: 980px) {
  .flex {
    display: block;
  }
}

.no-padding-top {
  padding-top: 0;
}

strong {
  font-weight: 800;
}

em {
  color: #00a082;
  font-style: normal;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  clear: both;
}
h2:before, h2:after {
  display: table;
  content: "";
}
h2:after {
  clear: both;
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #00a082;
}
@media all and (max-width: 980px) {
  h3 {
    padding: 0;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}

h4 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #000000;
  /*	@include m420 {
  	font-size: 2.25rem;
  	line-height: 3rem;
  } em archive.scss linha 83*/
}

p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p:last-child {
  padding-bottom: 0;
}
p a {
  font-weight: 300;
  color: #ed7db5;
}
p a:hover {
  color: #e7509c;
  text-decoration: underline;
}

a {
  text-decoration: none;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
a:hover {
  text-decoration: none;
}

.nav {
  -moz-transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}
.nav ul {
  display: table-cell;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav ul li {
  display: table-cell;
  line-height: 30px;
  padding: 0px 22px;
  text-align: center;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.nav ul li.off-mobile {
  display: none;
}
@media all and (max-width: 980px) {
  .nav ul li.off-mobile {
    display: table-row;
  }
}
.nav ul li:hover > a, .nav ul li.ativo > a {
  color: #00a082;
}
@media all and (max-width: 980px) {
  .nav ul li {
    display: table-row;
  }
}
@media all and (max-width: 980px) {
  .nav ul {
    display: table;
    height: 100%;
  }
}
.nav a {
  font-size: 0.875rem;
  display: inline-block;
  line-height: 1.3125rem;
  color: #000000;
  font-weight: 500;
  padding: 0px 5px;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
@media all and (max-width: 980px) {
  .nav a {
    position: relative;
    z-index: 999;
  }
}
.nav .submenu i {
  color: #ffffff;
  font-size: 80%;
  display: inline-block;
  position: relative;
  top: -1px;
  z-index: 9999;
  cursor: pointer;
}
@media all and (max-width: 980px) {
  .nav .submenu i {
    position: absolute;
    margin-top: 11px;
    top: auto;
    right: 30px;
    font-size: 1.5rem;
  }
}
.nav .submenu .container-menu {
  padding-top: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 9999;
  display: none;
  opacity: 0;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
@media all and (max-width: 980px) {
  .nav .submenu .container-menu {
    height: 0px;
    overflow: hidden;
    display: block;
    opacity: 0;
    position: relative;
    padding: 0px;
  }
}
.nav .submenu.ativo i {
  color: #ed9118;
}
@media all and (max-width: 980px) {
  .nav .submenu.ativo i {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media all and (max-width: 980px) {
  .nav .submenu.ativo {
    position: relative;
    z-index: 0;
  }
  .nav .submenu.ativo:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: unset;
    top: 0px;
  }
  .nav .submenu.ativo .container-menu {
    height: auto;
    opacity: 1;
    overflow: none;
  }
}
.nav .submenu:hover .container-menu {
  opacity: 1;
  display: block;
}
.nav .submenu:hover i {
  color: #ed9118;
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.nav .submenu .bg-submenu {
  width: 100%;
  background-color: #00a082;
  padding: 40px;
  text-align: left;
  overflow: hidden;
}
@media all and (max-width: 980px) {
  .nav .submenu .bg-submenu {
    padding: 0;
    background: transparent;
  }
}
.nav .submenu .col-menu {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav .submenu .col-principal {
  min-height: 100px;
  width: 35%;
  border-right: 2px solid #ffffff;
  padding-right: 10px;
}
@media all and (max-width: 980px) {
  .nav .submenu .col-principal {
    display: none;
  }
}
.nav .submenu .col-links {
  width: 65%;
  padding-left: 10px;
}
.nav .submenu .col-links a {
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 300;
}
@media all and (max-width: 980px) {
  .nav .submenu .col-links a {
    padding: 0;
  }
}
@media all and (max-width: 980px) {
  .nav .submenu .col-links {
    width: 100%;
    padding: 0;
  }
}
.nav .submenu .tit-menu {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.5625rem;
  font-weight: 700;
  margin-bottom: 20px;
}
@media all and (max-width: 980px) {
  .nav .submenu .tit-menu {
    display: none;
  }
}
.nav.nav-principal {
  width: 100%;
  height: 30px;
  background-color: #00a082;
}
.nav.nav-principal ul {
  width: 100%;
  display: table;
}
@media all and (max-width: 980px) {
  .nav.nav-principal ul {
    max-height: 50vh;
  }
}
@media all and (max-width: 420px) {
  .nav.nav-principal ul {
    max-height: 75vh;
  }
}
@media all and (max-width: 380px) {
  .nav.nav-principal ul {
    max-height: none;
  }
}
.nav.nav-principal .submenu ul {
  display: flex;
  flex-direction: column;
}
.nav.nav-principal .submenu ul li {
  display: block;
  text-align: left;
}
@media all and (max-width: 980px) {
  .nav.nav-principal {
    height: 100vh;
    border-top: 80px solid #ffffff;
    z-index: 9999;
    position: fixed;
    top: -110vh;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .nav.nav-principal.open {
    top: 0;
    opacity: 1;
  }
  .nav.nav-principal .container {
    display: table;
    height: 100%;
  }
  .nav.nav-principal ul {
    padding: 25px 0;
  }
  .nav.nav-principal ul ul {
    padding: 0;
  }
  .nav.nav-principal li {
    text-align: left;
    line-height: 40px;
  }
  .nav.nav-principal li a {
    line-height: 40px;
    font-size: 1.25rem;
  }
  .nav.nav-principal a {
    display: inline-block;
    margin: 0 25px;
  }
  .nav.nav-principal .submenu {
    position: relative;
  }
  .nav.nav-principal .submenu > a:after {
    margin-left: 0px;
    font-size: 120%;
  }
}
.nav.nav-topo {
  float: right;
}
.nav.nav-topo ul {
  display: table-cell;
  max-width: 660px;
}
@media all and (max-width: 980px) {
  .nav.nav-topo ul:not(.idiomas) {
    display: none;
  }
}
.nav.nav-topo li {
  border-left: 2px solid #00a082;
  padding: 0 15px;
}
.nav.nav-topo li:hover > a, .nav.nav-topo li.ativo > a {
  color: #ed9118;
}
.nav.nav-topo li:hover > a i, .nav.nav-topo li.ativo > a i {
  color: #ed9118;
}
.nav.nav-topo li a {
  font-size: 0.75rem;
  padding: 0px;
  color: #00a082;
}
.nav.nav-topo li a i {
  color: #00a082;
}
.nav.nav-topo li.rede-social {
  border: none;
  padding: 0px;
}
.nav.nav-topo li.rede-social a {
  padding: 0px 10px 0;
}
.nav.nav-topo li.rede-social a i {
  font-size: 1rem;
}
.nav.nav-topo li.rede-social.last-rede-social {
  padding-right: 10px;
}
.nav.nav-topo ul.idiomas {
  top: -2px;
  position: relative;
}
.nav.nav-topo ul.idiomas li {
  display: block;
  border: none;
  line-height: 15px;
  padding: 0;
  margin-left: 10px;
}
.nav.nav-topo ul.idiomas li:hover > a span, .nav.nav-topo ul.idiomas li.ativo > a span {
  color: #ed9118;
}
.nav.nav-topo ul.idiomas a {
  color: #000000;
  line-height: 0;
  padding: 0px;
  display: block;
}
.nav.nav-topo ul.idiomas img {
  padding-right: 3px;
  vertical-align: middle;
}
@media all and (max-width: 980px) {
  .nav.nav-topo ul.idiomas img {
    position: relative;
    top: -1px;
  }
}
.nav.nav-topo ul.idiomas span {
  font-weight: 400;
  vertical-align: middle;
  position: relative;
  top: 1px;
}
.nav.nav-footer {
  margin-top: 10px;
}
.nav.nav-footer li {
  display: block;
  text-align: left;
  margin: 15px 0 0;
  padding: 0;
  line-height: normal;
}
.nav.nav-footer li a {
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  text-transform: none;
}
.nav.nav-footer li a i {
  width: 30px;
  color: #8cc63f;
  padding-right: 5px;
  text-align: center;
  font-size: 1.225rem;
  position: relative;
  top: 3px;
}
.nav.nav-footer li a:hover, .nav.nav-footer li a.ativo {
  color: #8cc63f;
}

.menu-mobile {
  display: none;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  clear: both;
}
.menu-mobile:before, .menu-mobile:after {
  display: table;
  content: "";
}
.menu-mobile:after {
  clear: both;
}
@media all and (max-width: 980px) {
  .menu-mobile {
    display: inline-block;
    margin-top: 15px;
  }
}

#nav-icon2 {
  width: 35px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #00a082;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: -1px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 11.5px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 24px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 6px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 6px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 19px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 19px;
}

/*.submenu {
	position: relative;
	z-index: 10;

	> a {
		margin-bottom: 10px;

		i {
			font-size: .55rem;
			top: -2px;
			padding-left: 3px;
		}
	}

	> ul {
		position: absolute;
		padding: 15px 0px;
		background: #fff;
		border-radius: 5px;
		min-width: 200px;
		display: none;
		z-index: 100;

		li {
			display: block;
			padding: 0;

			&:hover {
				a {
					opacity: 1;
				}
			}
		}

		a {
			display: block;
			color: $cor-txt;
			text-transform: none;
			font-weight: $regular;
			padding: 5px 5px 5px 20px;
			border-left: 5px solid #ffffff;

			&:hover {
				border-color: $azul;
				color: $azul;
			}
		}
	}

	&:hover {
		> ul {
			display: block;
		}
	}
}*/
.slide {
  width: 100%;
}
.slide .owl-stage-outer {
  position: relative;
  overflow: hidden;
}
.slide .owl-stage {
  touch-action: manipulation;
}
.slide .owl-item {
  height: 740px;
  float: left;
  user-select: none;
  touch-action: pan-y;
}
.slide .owl-item .item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 72px 0;
  box-sizing: border-box;
}
.slide .owl-item .item .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.slide .owl-item .item h3,
.slide .owl-item .item p {
  color: #000000;
  width: 100%;
  max-width: 490px;
}
.slide .owl-item .item h3 {
  font-weight: 600;
  font-size: 3.875rem;
  line-height: 4.5rem;
}
.slide .owl-item .item p {
  margin: 30px 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.slide .owl-item .item .content-button {
  margin-top: auto;
}
.slide .owl-item .item .button {
  margin-top: 0px;
}
.slide .owl-dots {
  position: absolute;
  bottom: 42px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide .owl-dots.disabled {
  display: none;
}
.slide .owl-dots .owl-dot {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 16px;
  cursor: pointer;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.slide .owl-dots .owl-dot.active {
  background-color: #000000;
}
.slide .owl-nav.disabled {
  display: none;
}

.header {
  width: 100%;
  height: 70px;
  padding: 10px 0;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.breadcrumbs {
  width: 100%;
  display: block;
  margin: 0px 0 15px;
}
@media all and (max-width: 980px) {
  .breadcrumbs {
    margin-bottom: 25px;
  }
  .breadcrumbs .container {
    padding: 0 30px;
    margin-top: 10px;
  }
}
.breadcrumbs ul li {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
}
.breadcrumbs ul li:after {
  content: "\f054";
  font-size: 0.7rem;
  line-height: 1.37rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline;
  padding: 0 1px 0 5px;
}
.breadcrumbs ul li:last-child:after {
  display: none;
}
.breadcrumbs ul a {
  display: inline;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 400;
}
.breadcrumbs ul a:hover {
  color: #00a082;
}

.white {
  color: #ffffff;
}

.cor-txt {
  color: #000000;
}

.bg--white {
  background-color: #ffffff;
}

/* PAGES */
.ico-txt {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  column-gap: 60px;
  row-gap: 30px;
}
.ico-txt img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  object-position: center;
}
.ico-txt span {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3125rem;
}

.card--icon-text {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  column-gap: 13px;
}
.card--icon-text.margin {
  margin: 30px 0;
}
.card--icon-text a {
  display: flex;
  height: 100%;
  background-color: #efefef;
  border-radius: 10px;
  padding: 47px 20px 27px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.card--icon-text a:hover {
  background-color: #ffffff;
}
.card--icon-text img {
  display: block;
  width: 70px;
  height: 70px;
  object-fit: contain;
  object-position: center;
}
.card--icon-text h3 {
  display: block;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin-top: 26px;
  color: #000000;
  text-align: center;
  height: 100%;
}

.ico-redes {
  padding: 20px 0;
  text-align: center;
}
.ico-redes li {
  padding: 0 50px;
  display: inline-block;
}
@media all and (max-width: 980px) {
  .ico-redes li {
    padding: 0 25px;
  }
}
.ico-redes li i {
  font-size: 3.5rem;
}
.ico-redes li a:hover i {
  color: #00a082;
}

.contacto .slide h2 {
  text-transform: none;
  font-weight: 700;
  line-height: 2.25rem;
}

@media all and (max-width: 980px) {
  .txt-contato {
    text-align: left;
  }
}
.button {
  min-width: 200px;
  height: 42px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
}
.button.margin-top {
  margin-top: 30px;
}
.button:hover {
  color: #ffffff;
  background-color: #000000;
}
.button.bg--verde {
  color: #ffffff;
  background-color: #00a082;
}