strong {
	font-weight: $bold;
}

h1 {
	display: inline-block;
	width: 75px;
	@include animacao();

	a {
		display: block;
		@include animacao();

		img {
			@include animacao;
		}

		&:hover {
			//opacity: .75;
		}
	}
}

h2 {
	font-size: 3rem;
	line-height: 50px;
	position: relative;
	text-transform: uppercase;
	font-weight: $extra-bold;

	&.sub-tituto {
		font-size: 1.25rem;
		line-height: 2rem;
		font-weight: $light;
		text-transform: none;

		a {
			font-size: 1.25rem;
			line-height: 2rem;
			font-weight: $light;
		}
	}
}

h3 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin: 0;
	font-weight: $bold;
	text-transform: uppercase;

	&.border {
		font-size: .875rem;
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;

		&:after {
			content: '';
			height: 1px;
			background: #333333;
		}

		&.mid {
			span {
				padding-right: 10px;
				background-color: #fff;
				z-index: 1;
				position: relative;
			}

			&:after {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				left: 0;
				z-index: 0;
			}
		}

		&.center {
			&:after {
				display: block;
				width: 25px;
				margin: 6px auto 0;
				position: relative;
				top: 0;
				left: 0;
			}
		}
	}
}

h4 {
	font-size: 1rem;
	line-height: 1rem;
	text-transform: uppercase;
	font-weight: $bold;
	border-bottom: 1px solid $bege;
}

h5 {
	font-size: 2rem;
	line-height: 2rem;
	text-transform: uppercase;
	font-weight: $medium;
	color: $verde;

	@media all and (max-width: 500px){
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
}

h6 {

}

p {
	font-size: $font-size;
	line-height: $font-size+.5;
	font-weight: $light;
	padding-bottom: 15px;

	&:last-child {
		padding-bottom: 0;
	}

	a {
		font-weight: $light;
		color: $rosa;

		&:hover {
			color: darken($rosa, 10%);
			text-decoration: underline;
		}
	}

	&.sub-tituto {
		font-weight: $light;
		font-size: 2.2rem;
		line-height: 2.2rem;
		width: 100%;
		max-width: 490px;
		display: block;
		margin: 0 auto;
		text-align: center;

		&.borda-efeito {
			&::after {
				content: '/ / / / / / / / / / / / / / / /';
				display: block;
				line-height: 40px;
				color: $verde;
				font-size: .5625rem;
				text-align: center;
				font-weight: $bold;
				font-style: italic;
			}
		}

		&.sub-titulo-icone {
			text-transform: uppercase;

			img {
				display: inline;
				height: 70px;
				margin-right: 10px;
				position: relative;
				top: 15px;
			}
		}

		&.text-content {
			text-transform: none;
			font-size: 1.225rem;
			line-height: 1.5rem;
			text-align: left;
			max-width: 100%;
			padding: 0 30px;
			@include box-sizing;
		}

		&.text-content-medium {
			font-size: 1.8rem;
			line-height: 2rem;
			max-width: 650px;
			max-width: 650px;
			padding: 0 30px;
			@include box-sizing;
		}
	}

	&.mini {
		font-size: 1rem;
		line-height: 1.25rem;
	}
	
	@media all and (max-width: 770px){
		font-size: 1.25rem;
		line-height: (1.25rem)+.5;
	}
}

.justify-center {
	text-align: justify;  
	-moz-text-align-last: center;
	text-align-last: center;
}

.justify {
	text-align: justify;  
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	float: right;
}

.no-margim {
	margin: 0!important;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-60 {
	margin-top: 60px;
}

.no-padding {
	padding: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.no-padding-top {
	padding-top: 0;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-40 {
	padding-top: 40px;
}

a {
	text-decoration: none;
	@include animacao;

	i {
		@include animacao;
	}

	&:hover {
		text-decoration: none;		
	}

	&.link {
		color: $laranja;

		i {
			font-size: .55rem;
			top: -2px;
			padding-left: 3px;
			color: $laranja;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.data {
	line-height: 1.75rem;
	display: block;
	font-weight: 300;
}

.label {
	color: #ffffff;
	display: inline-block;
	font-size: .6rem;
	text-transform: uppercase;
	padding: 5px 10px;
	font-weight: $regular;
	letter-spacing: 1px;

	&.grande {
		//height: 46px;
		//line-height: 46px;
		//color: #ffffff;
		//font-weight: $bold;
		font-size: .75rem;
		padding: 10px 20px;
	}

	&.nome-area {
		position: relative;
		right: 0;
		top: 0;
		height: 46px;
		line-height: 46px;
		color: #ffffff;
		font-weight: $bold;
		font-size: 1.06rem;
		text-align: center;
		text-transform: uppercase;
		padding: 0 25px;
		border-radius: 5px;
	}
}


.paginacao {
	margin: 50px auto 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0px;

		span, a {
			display: block;
			font-size: 1.225rem;
			font-weight: $medium;
			line-height: 40px;
			height: 40px;
			padding: 0 10px;
		}

		a {
			color: $verde;
			@include animacao;

			.fa {
				font-size: 1.225rem;
				font-weight: $medium;
				color: $verde;
			}

			&:hover {
				background-color: rgba($verde, .5);
			}
		}

		span {
			background-color: $verde;
			color: #ffffff;
		}
	}
}

.tags{
	display: block;
	width: 100%;

	li {
		display: inline-block;

		.label {
			margin: 0;
			color: $cor-txt;
			border: 1px solid $cor-txt;
			opacity: .6;

			&:hover {
				color: $laranja;
			}
		}
	}
}


.redes-sociais {
	i {
		font-size: 1.31rem;
		top: 2px;
		padding-right: 10px;
	}

	a {
		&:last-child {
			i {
				padding-right: 0;
			}
		}
	}
}

// ICONES
.fa-user-lock {
	font-size: 0.8rem;
	top: -1px;
	padding-right: 7px;
}

.fa-search {
	font-size: 1.4rem;
	top: 2px;
}