.nav {
	float: right;
	z-index: 999;
	margin-top: 25px;

	@include animacao();

	ul {
		@include box-sizing;
	}

	li {
		display: inline-block;
		line-height: normal;
		padding: 0px 10px;

		a {
			display: inline-block;
			color: #ffffff;
			font-weight: $bold;
			text-transform: uppercase;
			@include animacao();

			i {
				display: inline-block;
				color: #fff;
				position: relative;
			}
		}

		&:hover {
			> a:not(.button) {
				opacity: .75;
				//background-color: rgba($azul, .5);
			}
		}

		&:hover, &.ativo {
			> a {
				
			}
		}

		&.submenu {
			position: relative;
			z-index: 10;

			> a {
				margin-bottom: 10px;

				i {
					font-size: .55rem;
					top: -2px;
					padding-left: 3px;
				}
			}

			> ul {
				position: absolute;
				padding: 15px 0px;
				background: #fff;
				border-radius: 5px;
				min-width: 200px;
				display: none;
				z-index: 100;

				li {
					display: block;
					padding: 0;

					&:hover {
						a {
							opacity: 1;
						}
					}
				}

				a {
					display: block;
					color: $cor-txt;
					text-transform: none;
					font-weight: $regular;
					padding: 5px 5px 5px 20px;
					border-left: 5px solid #ffffff;

					&:hover {
						border-color: $azul;
						color: $azul;
					}
				}
			}

			&:hover {
				> ul {
					display: block;
				}
			}
		}

		&.ativo {
			> a {
				padding: 10px 10px;
				border-radius: 5px;
				background-color: $azul;
			}
		}
	}
}

/* menu mobile */
.menu-mobile {
	display: none;
	float: left;
	width: 52px;
	height: 52px;
	margin-top: 10px;
	text-decoration: none;
	z-index: 9999;
	position: relative;
	background: url('../images/menu_off.png') no-repeat center;
	@include animacao;

	&.active {
		background-image: url('../images/menu_on.png');
	}

	&:hover {
		opacity: .5;
	}
}

/* NAV ASSOCIADO */
.nav-associado {
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #f2f2f2;

	ul {
		float: right;
		text-align: right;
		padding-right: 40px;

		li {
			display: inline-block;
			border-bottom: 1px solid #f2f2f2;
			position: relative;
			top: 1px;

			/*&:after {
				content: "\f111";
				font-size: .3rem;
				line-height: 1.37rem;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				display: inline;
				padding: 0 7px 0px 10px;
				opacity: .7;
				position: relative;
				top: -3px
			}

			*/
			&:first-child {
				padding-left: 0;
				padding-right: 20px;

				span {
					color: $azul-celeste;
				}
			}

			&:last-child {
				padding-left: 20px;
				padding-right: 0;
			}

			&.nav-link {
				&:hover, &.ativo {
					border-bottom-color: $laranja;

					a {
						color: $laranja;

						i {
							color: $laranja;
						}
					}
				}
			}
		}

		a, span, i {
			line-height: 1.37rem;
			display: inline;
		}

		a, span {
			font-weight: $regular;
			font-size: .8rem;
			text-transform: uppercase;
			padding: 8px 10px;
			display: inline-block;
		}

		i {
			font-size: .9rem;
			opacity: .7;
		}

		a {
			@include animacao;

			&:hover {
				color: $laranja;

				i {
					color: $laranja;
				}
			}
		}
	}
}