$width: 1280px;
$padding-container: 40px;
$padding-col: 30px;

$font-size: .875rem;

$cor-txt: #4a4a4a;

/* CORES */
$cor1: #007F3D;
$cor2: #F9A61A;
$verde-limao: #8CC63F;

$bgescuro: #383838;

$verde: #007f3d;
$amarelo: #f5db00;
$azul: #3e4095;
$vermelho: #e70606;
$laranja: #ff8a00;
$azul-celeste: #35cbc9;


$cinza: #E6E6E7;
$rosa: #ed7db5;

$dourado: #a4925f;
//$azul: #62b5e5;
$bege: #a4925f;
$bordo: #790000;

$marrom: #99552b;
$roxo: #ffffff;
$verde-limao: #b5bd00;
$pink: #f4364c;

$light: 300;
//$regular: 400;
$medium: 500;
$regular: $medium;
$bold: 700;
$extra-bold: 900;

$hSlide: 400px;